body {
  background: url(../images/black-wood.jpg) ;    
  letter-spacing:0;     
  padding:20px 0;
  position:relative;
  -webkit-font-smoothing: subpixel-antialiased;
}

.container {
  width: 710px;  
  padding:10px;
  margin:0 auto;
  position:relative;
  z-index:0;
}

#example {
	width:600px;
	height:350px;
	position:relative;    
	left:40px;
} 
#post {
	width:600px;
	position:relative;    
	left:20px;          
}

#ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}

#frame {
	position:absolute;
	z-index:0;
	width:739px;
	height:341px;
	top:-3px;
	left:-80px;
}

/*  Slideshow  */
#slides {
	position:absolute;
	top:15px;
	left:4px;
	z-index:100;
}
 
/*  Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash  */
.slides_container {
	width:570px;
	overflow:hidden;
	position:relative;
	display:none;
}      

/*  Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block     */
.slides_container div.slide {
	width:570px;
	height:270px;
	display:block;
}       

/*  Next/prev buttons  */
#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:585px;
}

/*  Pagination   */

.pagination {
	margin:26px auto 0;
	width:100px;
}   

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}   

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}


.pagination li.current a {
	background-position:0 -12px;
}


/*  Caption  */
.caption {
	z-index:500;
	position:absolute;
	bottom:-35px;
	left:0;
	height:30px;
	padding:5px 20px 0 20px;
	background:#000;
	background:rgba(0,0,0,.5);
	width:540px;
	font-size:1.3em;
	line-height:1.33;
	color:#fff;
	border-top:1px solid #000;
	text-shadow:none;  
	font-weight: 100%; 
}
header {
  padding-top: 20px;    
}    

.top {       
  background-color: rgb(255,255,255);
  border: 0px solid rgb(200,200,200);
  text-align: center;
  display: inline-block;     
  height: 120px;  
  padding: 1em;      
}  

.mid {       
	background-color: rgb(255,255,255);
	border: 0px solid rgb(200,200,200);
 	text-align: center;
 	width: 650px;
   	display: inline-block;     
 	height: 520px;     
	position: relative; 
	z-index: 4;   
	top:20px;   /*added this to move it down, might take off..need to bring font up and to the top */
}   

header img {
  float: left;   
  background: #fff;   
  z-index: 2;       
  position:relative; 
  top: -20px;
}

.section {
  margin-top: 1em;

  padding: 20px;
  background: #fff;  
}

.section h1 {
  font-size: 200%;    
  color:#E6287B;
}

#example {
	width:600px;
	height:350px;
	position:relative;
}

/* Links */

a {
  color: #13A095; 
  text-decoration: none;
}

a:hover {
  color:#E6287B;  
}

a:visited {
  color: #13A095; 
}    

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;     
  z-index: 3;       
  position:relative;     
  top: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;      
  color: #13A095; 
}

nav ul li a:visited {
  color: #13A095; 
}

nav ul li a:hover {
  color:#E6287B;  
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
} 

footer {        
  background-attachment: initial;
  background-clip: initial;
  background-color: initial;
  background-origin: initial;
  background-position: initial initial;
  background-repeat: initial initial;
  bottom: 0;
  height: 46px;
  left: 0;
  position: fixed;
  width: 100%;  
  background-image: url(http://www.renklibeyaz.com/thisway/wp-content/themes/ThisWay/images/menu-bg1-light.png);
  list-style: none;
  z-index:9999;
}

footer nav {
  float: none; 
}

footer a {
  color: #E6287B;  
}

footer a:hover {
  color: #13A095;  
}
 
footer a:visited {
  color: #E6287B; 
}    

#footertext {
  float: right;
  height: 24px;
  line-height: 24px;
  margin-bottom: 11px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 11px;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;    
  color: #E6287B;
}

/* Color Text*/
.text-pink {
  color:#E6287B;  	
} 

.text-tiffany {
  color: #13A095;  	
}    

.text-orange {
  color: #FF6600;  	
}
  
/* Aligning Text*/ 
.text-right {
  text-align: right;  
}

.text-center {
  text-align: center;  
} 

.text-move-right {    
  position: relative;
  right: 40px;   
}
   
.text-move-left {    
  position: relative;
  left: 30px;   
}

/*float left*/
.left {
  float: left; /*left in our text*/
  margin: 25px; /*space around the image*/
}

/*float right*/
.right  {
  float: right; /*right in our text*/
  margin: 25px; /*space around the image*/
} 

/*float right*/
h5 .move-up  {
  position: relative; 
  bottom: 100px;  
  z-index: 5;
} 

.text-date {
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: 100; 
}

.text-content {
  color:#786E69;
  font-size:11px;
  letter-spacing:.1em;
  padding-bottom:3px;
  text-shadow:none; 
  font-weight: 100%;  
}
.postdate {
  position: relative;
  width: 50px;
  height: 50px;
  float: left;   
    
}
.month, .day, .year {
  position: absolute;
  text-indent: -1000em;
  background-image: url(../images/dates.png);
  background-repeat: no-repeat;   
}
.month { top: 2px; left: 0; width: 32px; height: 24px;}
.day { top: 25px; left: 0; width: 32px; height: 25px;}
.year { bottom: 0; right: 0; width: 17px; height: 48px;}
.m-03 { background-position: 0 -57px;}
.d-30 { background-position: -97px -403px;}
.y-2012 { background-position: -150px -305px;}     

/* Contact us form */
form.formular {
	font-family: tahoma, verdana, "sans-serif";
	font-size: 12px;
	padding: 20px;
	border: 1px solid #A5A8B8;

	width:300px;
	margin-left:300px;
}

.formular fieldset {
	margin-top: 20px;
	padding : 15px;
	border: 1px solid #B5B8C8;
	
}

.formular legend {
	font-size: 12px;
	color: #15428B;
	font-weight: 900;
}

.formular fieldset label {
	float: none;
	text-align: inherit;
	width: auto;
}

.formular label span {
	color: #000;
}

.formular input, .formular select, .formular textarea {
	display : block;
	margin-bottom: 5px;
}

.formular .text-input {
	width: 250px;
	color: #555;
	padding: 4px;
	border: 1px solid #B5B8C8;
	font-size: 14px;
	margin-top: 4px;
	background: #FFF url('/img/form/text-bg.gif') repeat-x;
	
}
.formular textarea {
	width: 250px;
	height:70px;
	color: #555;
	padding: 4px;
	border: 1px solid #B5B8C8;
	font-size: 14px;
	margin-top: 4px;
	background: #FFF url('/img/form/text-bg.gif') repeat-x;
	
}
.formular .infos {
	background: #FFF;
	color: #333;
	font-size: 12px;
	padding: 10px;
	margin-bottom: 10px;
}

.formular span.checkbox, .formular .checkbox {
	display: inline;
}

.formular .submit {
	background: url('/img/form/button-bg.png') repeat-x;
	border: 1px solid #AAA;
	padding: 4px;
	margin-top: 20px;
	float: right;
	text-decoration: none;
	cursor:pointer;
}

.formular hr {
	clear: both;
	visibility: hidden;
}

.formular .fc-error {
	width: 350px;
	color: 555;
	padding: 4px;
	border: 1px solid #B5B8C8;
	font-size: 12px;
	margin-bottom: 15px;
	background: #FFEAEA;
}

input, textarea { 
	padding: 8px;
	border: solid 1px #E5E5E5;
	font: normal 12px Verdana, Tahoma, sans-serif;
	width: 200px;
	background: #FFFFFF url('form_background.png') left top repeat-x;/*Mimic Background Property in Internet Explorer since IE 6,7,8 does not support CSS3*/
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;/*0.1 actually means 10 %*/
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	}

textarea { 
	width: 400px;
	max-width: 400px;
	height: 150px;
	line-height: 150%;
	}

input:hover, textarea:hover,
input:focus, textarea:focus { 
-moz-box-shadow:0 0 8px #13A095;
	-webkit-box-shadow:0 0 8px #13A095;
	box-shadow:0 0 8px #13A095;
}

.form label { 
	margin-left: 12px; 
	color: #999999; 
	}

.submit input {
	width: auto;
	padding: 10px 14px;
	background: #13A095;
	font-size: 14px;
	color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor:pointer;
	}
#form-div { 
-moz-border-radius:12px 12px 12px 12px;
-webkit-border-radius: 12px 12px 12px 12px;
background-color:#F5F5F5;
padding:15px;
}