<div class="span-8">  
	<h1><%= @title %></h1> 
	<h6 class="small text-orange text-right"> &nbsp </h6>
	<div class="postdate ">
	    <div class="month m-03">March</div>
	    <div class="day d-30">30</div>
	    <div class="year y-2012">2012</div>
	</div>

    <p class="text-content text-move-left">  
	  Christian and I met in class. And then we became roommates.  
	  During this time and after a trip to NYC, we fell in love.  
	  On <h7 class="text-date loud text-pink">March 27, 2009</h7> we became boyfriend and girlfriend.  
	  A year later, <h7 class="text-date loud text-pink">March 27, 2010</h7> 
	  we entered the Great Urban Adventure in Austin, Tx, where we ran around downtown 
	  Austin solving these clues for four hours!  It was at the award ceremony that 
	  Christian got down on one knee and proposed to me on stage in front of these awesome stangers.  
	  And yes, I was wearing an I'm-A-Mac shirt and he was wearing an I'm-A-Pc shirt.  
	  He has since been converted.  On <h7 class="text-date loud text-pink">March 30, 2012</h7>, come share with us Austin, come celebrate with us,come enjoy nature and God willing, a beautiful sunset, and give us your blessing.
	<p>
  
</div>
 
<div class="span-9 last">
	<% proposal = image_tag("yes.jpeg", :alt => "Yes", :class => "round right", :size => "250x333") %>
	  <%= link_to proposal, '#' %>
</div>
   

	   
      
    


           


