    <h1>Directions</h1>     
	<div id="post">      
	  <p class="text-content">
        <iframe width="350" height="250" class="right" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=4209+Eck+Lane,+Austin,+TX+78734-1620&amp;sll=38.895111,-77.036365&amp;sspn=0.880709,1.799011&amp;vpsrc=6&amp;ie=UTF8&amp;hq=&amp;hnear=4209+Eck+Ln,+Austin,+Texas+78734&amp;ll=30.404582,-97.93045&amp;spn=0.121996,0.224876&amp;t=m&amp;z=12&amp;output=embed"></iframe><br />
      	<h5 class="large text-orange small">To get to Vintage Villas from...</h5>

		<h6><a href="http://g.co/maps/nctyf">Austin Bergstrom Airport</a></h6>
		<h8 class="text-pink">Time:</h8> 40 minutes <br />
		Take the ramp on the left onto <b>Hwy TX-71 W</b> <br />
		Continue 15 miles to the City of Bee Caves<br />
		Turn right onto <b>Ranch Road 620 S</b> <br />
		Continue for 8 miles<br />
		Turn left onto <b>Eck Lane</b> <br />
		(if you cross Mansfield Dam you have gone 1 mile to far)<br />
		<br />    
        
		<a name="SanAntonio">
		<h6><a href="http://g.co/maps/pgtk4">San Antonio</a></h6>
		</a>
		<h8 class="text-pink">Time:</h8> 1 hr. 45 min<br />
		Take <b>I-35 N</b> toward Austin <br /> 
		Continue for about 70 miles <br />
		Take exit <b>230</b> toward <b>US-290 W/TX-71/Johnson City/Bastrop/Airport</b> <br />
		Take a left on <b>Hwy TX-71 W</b> and continue for 15 miles to the City of Bee Caves <br /> 
		Turn right on <b>Ranch Rd 620 S</b> <br /> 
		Continue for 8 miles <br /> 
		Turn left on <b>Eck Lane</b> <br /> 
		(if you cross Mansfield Dam you have gone 1 mile to far)<br />  
		<br />
		
		<h6><a href="http://g.co/maps/ha7y4">Houston</a></h6> 
		<h8 class="text-pink">Time:</h8> 3 hrs. 30 min<br /> 
		Take <b>Hwy US-290 W</b> via the ramp Austin. <br />
		<b>Hwy 290 W</b> will turn into <b>Ranch to Market Rd 2222 W</b> as you cross under I-35. <br />
		Continue on Ranch to <b>Market Rd 2222 W</b> for 12 miles <br />
		Turn left onto <b>Ranch Road 620 N</b>, continue for 4 miles<br />
		Turn right onto <b>Eck Lane</b> <br />
		<br />    

		<h6><a href="http://g.co/maps/rx235">Dallas</a></h6>
		<h8 class="text-pink">Time:</h8> 3 hrs. 30 min<br />  
		Take <b>I-35 S</b> to the City of Round Rock <br /> 
		Take a right on <b>Texas Toll Road 45</b> (exit 250B) continue for 20 miles <br /> 
		<b>Texas Toll Road 45</b> turns into <b>Ranch to Market Road 620 W</b> after 10 miles. <br />
		You will pass Mansfield Dam  <br />      
		Turn right onto <b>Eck Lane</b> <br />
        <br /> 
		
		<h6><a href="http://g.co/maps/9ye6p">Brownsville</a></h6>
		<h8 class="text-pink">Time:</h8> 6 hr. 15 min<br /> 
		Take <b>US-77 N</b>  <br />
		Merge onto <b>I-37 N</b>  <br />
		Take exit <b>133</b> to merge onto <b>I-410 N</b> <br />
		Continue onto <b>I-35 N</b> <br /> 
		Follow directions from <a href="#SanAntonio">San Antonio</a> <br />
	  </p> 
    </div>