   	<script>
		$(function(){
			$('#slides').slides({
				preload: true,
				preloadImage: 'images/loading.gif',
				play: 0,
				pause: 2500,
				hoverPause: true,
				animationStart: function(current){
					$('.caption').animate({
						bottom:-35
					},100);
					if (window.console && console.log) {
						// example return of current slide number
						console.log('animationStart on slide: ', current);
					};
				},
				animationComplete: function(current){
					$('.caption').animate({
						bottom:0
					},200);
					if (window.console && console.log) {
						// example return of current slide number
						console.log('animationComplete on slide: ', current);
					};
				},
				slidesLoaded: function() {
					$('.caption').animate({
						bottom:0
					},200);
				}
			});
		});
	</script>
	<div id="example">
		<div id="slides">
			<div class="slides_container">  
				<div class="slide">
					<iframe src="http://player.vimeo.com/video/40206772?byline=0&autoplay=0&title=0" width="570" height="270" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
					
				</div>                                               
				
				<div class="slide">
					<img src="images/image0.jpg" width="570" height="270" alt="Slide 1">
					<div class="caption" style="bottom:0">
						<p class="text-tiffany">Thank You...</p>
					</div>
				</div>
				<div class="slide">
					<img src="images/image1.jpg" width="570" height="270" alt="Slide 2">
					<div class="caption">
						<p class="text-center">...for joining us</p>
					</div>    
				</div>
				<div class="slide">
					<img src="images/image2.jpg" width="570" height="270" alt="Slide 3">
					<div class="caption">
						<p class="text-tiffany text-date">on our adventure...</p>
					</div>
				</div>
				<div class="slide">
					<img src="images/image3.jpg" width="570" height="270" alt="Slide 4">
					<div class="caption">
						<p class="text-pink text-right">on 3.30.2012</p>
					</div>
				</div>
				<div class="slide">
					<img src="images/image4.jpg" width="570" height="270" alt="Slide 5">
					<div class="caption">
						<p class="text-center">in Austin, TX</p>
					</div>
				</div>
				<div class="slide">
					<img src="images/image5.jpg" width="570" height="270" alt="Slide 6">
					<div class="caption">
						<p class="text-tiffany">As we said &ldquo;I Do!&rdquo;</p>
					</div>
				</div>
			   
			</div>
			<a href="#" class="prev"><img src="images/arrow-prev.png" width="24" height="43" alt="Arrow Prev"></a>
			<a href="#" class="next"><img src="images/arrow-next.png" width="24" height="43" alt="Arrow Next"></a>
		</div>
		<img src="images/example-frame.png" width="739" height="341" alt="Example Frame" id="frame">
	</div>	
	<div class="span-5 round">          
		<% savedate = image_tag("march30.png", :alt => "Save the Date", :class => "round") %>
		<%= link_to savedate, '#' %>     
	</div>	  
	<div class="span-5 round">
		<% rsvp = image_tag("rsvp.png", :alt => "RSVP", :class => "round") %>
		<%= link_to rsvp, rsvp_path %>  
	</div>	
	<div class="span-5 round last">
		<% registry = image_tag("registry.png", :alt => "Registry", :class => "round") %>
		<%= link_to registry, 'http://www.crateandbarrel.com/Gift-Registry/Guest/View-Registry.aspx?grid=4842598&cid=ebm' %>   
	</div>