<div class="span-16 last">     
	<h1>Vintage Villas</h1> 
 	<h6 class="small text-orange text-right text-move-left">
		4209 Eck Lane<br>
	  	Austin, Texas 78734<br> 
	</h6>       
  </div>  
<div class="span-8">                 
	  <% venue = image_tag("vintage_villas_300x200.jpg", :alt => "Vintage Villas", :class => "round") %>
	  <%= link_to venue, 'http://www.vintagevillas.com/' %>    
</div>

<div class="span-8 last">  
    <div class="postdate">
		<div class="month m-03">March</div>
	    <div class="day d-30">30</div>
	    <div class="year y-2012">2012</div>
	</div>
   
	<p class="text-content text-move-left">  
	We will be having a sunset wedding at Vintage Villas in Austin, TX.  
	It is a hotel comprised of three villas and includes a beautiful scenic 
	wedding venue overlooking Lake Travis.  <br>  <br>
	After running races here, enjoying great food here, enjoying it's active atmosphere, 
	and getting engaged here, 
	on <h7 class="text-date loud text-pink">March 30, 2012</h7>, 
	we want to share with you our favorite spot in Austin, we want you to 
	come and enjoy nature, enjoy a beautiful sunset, celebrate our union and just relax.
	<p>	  
</div>               
    

   	