    <h1>Vintage Villas</h1>
    <p>    
	  <% logo = image_tag("vintage_villas_300x200.jpg", :alt => "Vintage Villas", :class => "round") %>
	  <%= link_to logo, 'http://www.vintagevillas.com/' %>    
    </p>

   	Vintage Villas<br> 
	4209 Eck Lane<br>
	Austin Texas 78734<br>
	
	brief description of it<br>
	why we chose it<br>     
	talk about lake travis<br>
	sunset wedding<br>