	<h1>Vintage Villas</h1>  
    <div class="span-8 section">
	  <% logo = image_tag("vintage_villas_300x200.jpg", :alt => "Vintage Villas", :class => "round") %>
	  <%= link_to logo, 'http://www.vintagevillas.com/' %>    
	  <br><br> 
	  <p> 
  	  Vintage Villas<br> 
	  4209 Eck Lane<br>
	  Austin Texas 78734<br>
	  </p>
  	</div>  

  	<div class="span-7 section last">             
	  <p>  
	  brief description of it<br>
	  why we chose it<br>     
	  talk about lake travis<br>
	  sunset wedding<br>   
	  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
	  <p>	  
  	</div>
               
    
    

   	