	<h1>Vintage Villas</h1> 
      <h6 class="small text-orange text-right text-move-right">
	  4209 Eck Lane<br>
	  Austin, Texas 78734<br> 
	  </h6>
	  <% venue = image_tag("vintage_villas_300x200.jpg", :alt => "Vintage Villas", :class => "round left") %>
	  <%= link_to venue, 'http://www.vintagevillas.com/' %>    
	  
      <div class="postdate">
	    <div class="month m-03">March</div>
	    <div class="day d-30">30</div>
	    <div class="year y-2012">2012</div>
	  </div>
	
    <div id="post">      
	  <p class="text-content">  
	  We will be having a sunset wedding at Vintage Villas in Austin, TX.  
	  It is a hotel comprised of three villas and includes a beautiful scenic wedding venue overlooking 
	  Lake Travis.  <br>  <br>
	  Christian and I met in class. And then we became roomates.  
	  During this time and after a trip to NYC, we fell in love.  
	  On <h7 class="text-date loud text-pink">March 27, 2009</h7> we became boyfriend and girlfriend.  
	  A year later, <h7 class="text-date loud text-pink">March 27, 2010</h7> 
	  we entered the Great Urban Adventure in Austin, Tx, where we ran around downtown 
	  Austin solving these clues for four hours!  It was at the award ceremony that 
	  Christian got down on one knee and proposed to me on stage in front of these awesome stangers.  
	  And yes, I was wearing an I'm-A-Mac shirt and he was wearing an I'm-A-Pc shirt.  
	  He has since been converted.  On <h7 class="text-date loud text-pink">March 30, 2012</h7>, 
	  we want to share with you our favorite spot in Austin, we want you to come and enjoy nature, 
	  enjoy a beautiful sunset, celebrate our union and just relax.
	  <p>	  
    </div>
               
    

   	