<footer>
  <div id="footertext" class"small">
  	<a href="/">Joanna + Christian</a> <h7 class="text-tiffany">|</h7> <a href="/"><h7 class="text-date">3.30.2012</h7></a>  &copy; <h7 class="text-date">2011</h7>  All rights reserved.  
  </div>
</footer>